#container {
  margin: 0 10px;
}
.data-header {
  display: flex;
  align-items: center;
}
.data-header ion-button {
  text-transform: none;
  --ripple-color: transparent;
  --background-hover: transparent;
  --color-hover: white;
}