<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleepiness
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleepiness</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Rate how sleepy you are on a scale of 1 to 7:</p>
    <ion-range
      #sleepiness
      [pin]="true"
      [snaps]="true"
      [min]="1"
      [max]="7"
      (ionChange)="rangeChanged(sleepiness.value)"
    ></ion-range>
    <ion-button (click)="sleepinessSubmit()">Submit</ion-button>
    <p *ngIf="sleepinessSummary">Your sleepiness rate is <strong>{{sleepinessSummary}}</strong></p>
  </div>
</ion-content>